.card {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 25px);
}

.title {
font-family: var(--second-family);
font-weight: 700;
font-size: clamp(20px,2dvw,34px);
line-height: 100%;
color: #000;
background: #ffde00;
padding: 20px 20px;
margin-bottom: 20px;
width: 100%;
}

.text {
font-family: var(--font-family);
font-weight: 200;
font-size: clamp(18px,2dvw,24px);
line-height: 108%;
color: #cacaca;
}


.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width:1024px) {
    .card{
        width: calc(50% - 25px);
    }
 
}

@media screen and (max-width:650px) {
    .card{
        width: 100%;
    }
 
}