.card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  row-gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 25px);
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: clamp(20px, 2dvw, 32px);
  line-height: 100%;
  color: #000;
  background: #ffde00;
  padding: 20px 20px;
  width: 100%;
}

.text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: clamp(16px, 1.3dvw, 20px);
  line-height: 108%;
  color: #cacaca;
  padding: 20px;
  border-left: 1px solid #ffde00;
  border-right: 1px solid #ffde00;
  border-bottom: 1px solid #ffde00;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .card {
    width: calc(50% - 25px);
  }
}

@media screen and (max-width: 650px) {
  .card {
    width: 100%;
  }
}
