.root {
  display: flex;
  align-items: center;
  gap: 70px;
}

.descr {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: var(--third-family);
  font-weight: 900;
  font-size: clamp(18px, 2.2dvw, 40px);
  line-height: 120%;
  color: #fff;
}

.text {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: clamp(16px, 1.3dvw, 24px);
  line-height: 130%;
  color: #cacaca;
}

@media screen and (max-width: 1024px) {
  .root {
    gap: 30px;
    flex-direction: column;
  }

  .img {
    display: block;
    margin-left: auto;
  }

}
@media screen and (max-width: 768px) {
  .img {
    display: block;
    width: 100%;
    margin-left: unset;
  }
}

@media screen and (max-width: 576px) {

}
