

  .header {
    width: 100%;
    padding: 20px 10px;
    display: flex;
		justify-content: space-between;
		align-items: center;
    gap: 16px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
		color: var(--text-primary);
		font-family: var(--third-family);
		font-weight: 200;
    min-width: clamp(100px, 35dvw, 140px);
    min-height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    box-shadow: inset 2px 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    padding: 6px 9px;
    transition:background-color 0.1s ease-in-out;
  }

	.button svg {
		max-width: 22px;
		width: 100%;
		
	}
	.button:active {
		background-color: rgba(255, 255, 255, 0.2);
	}


