.drawer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0px;
  z-index: 100;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
}

.content {
  background-color: #fff;
  color: rgb(255, 255, 255);
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 99dvh;
  transform: translateY(100dvh);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  margin-left: 10px;
  margin-right: 10px;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1%;
  right: 1%;
  background: none;
  border: 1px solid transparent;
  border-radius: 50%;
  color: var(--accent-color);
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  z-index: 6;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.close svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.close:focus-visible {
  border-color: var(--accent-color);
}

@media (hover: hover) {
  .close:hover svg {
    transform: scale(1.3);
  }
}

.backdrop {
  position: fixed;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  inset: 0px;
  background-color: var(--background-loyout);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  -webkit-tap-highlight-color: transparent;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.drawer.open {
  visibility: unset;
}

.drawer.open .content {
  transform: translateY(0);
}

.drawer.open .backdrop {
  opacity: 1;
}
