.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
  gap: 20px;
}
.item {
  background: #161616;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding-right: 10px;
}

.icon {
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
	justify-content: center;
  padding: 0 clamp(17px, 2.5dvw, 23px);
  min-height: 100%;
}

.title {
  font-family: var(--second-family);

  padding: clamp(13px, 3dvw, 46px) 0;
  font-weight: 400;
  font-size: clamp(20px, 2dvw, 34px);
  line-height: 100%;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
    gap: 10px;
  }

}
