.background {
  background: url(/images/hero_background.webp);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  position: relative;
  z-index: 3;
}

.content {
  display: flex;
  align-items: center;
  min-height: 400px;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.descr {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 30px;
	padding-bottom: 10px;
}

.text {
  font-family: var(--font-family);
  font-weight: 100;
  font-size: clamp(16px, 1.5dvw, 20px);
  padding-left: 5px;
}

.title {
  position: relative;
  font-family: var(--third-family);
  font-weight: 900;
  font-size: clamp(24px, 3.2dvw, 60px);
}

.title::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 10px;
  height: 100%;
  background-color: var(--accent-color);
}

.image {
	object-fit: cover;
  margin-top: -30px;
  margin-bottom: -30px;
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
		align-items: unset;
  }

  .descr {
    order: 1;
  }
  .image {
		display: block;
		margin-left: auto;
    max-width: 100%;
		margin-bottom: -15px;
  }
}

@media screen and (max-width: 768px) {
	.content {

		align-items: center;
  }
  .descr {
    padding-left: 20px;
  }
  .text {
    padding-left: 0;
  }

	.image {
		margin-bottom: unset;
	}
}
