.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 400px;
}

.text {
  max-width: 48vw;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 20px;
}

.title {
position: relative;
font-family: var(--third-family);
font-weight: 900;
font-size: clamp(24px,5.5dvw,60px);
max-width: 48vw;
}

.title::after {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 10px;
    height: 100%;
    background-color: #FFDE00;
}
.image {
  width: 100%;
  height: auto;
  display: block;
}
.imagecontainer {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  max-width: 100%;
  display: block;
}

.background {
    margin-top: 90px;
    background: url(/images/hero_background.webp);
}

@media screen and (max-width: 960px) {
  .imagecontainer {
    position: relative;
    order: -1;
    transform: unset;
    margin: 0 auto;
    display: block;
  }

@media screen and (max-width:960px) {
    .imagecontainer {
        position: relative;
        order: -1;
        transform: unset;
        
        display: block;
       
    }


    .background {
        margin-top: 20px;
        background: url(/images/hero_background.webp);
    }

    .image {
        width: 340px;
        height: 180px;
    }

    .title.text {
        margin-top: 15px;
        max-width: 100%;
        
    }

    .text {
        margin-bottom: 30px;
    }
    .content {
        min-width: unset;
        padding: 15px;
    }
  }
