.root {
    position: relative;
    font-family: var(--third-family);
    font-weight: 900;
    font-size: clamp(24px, 2.8dvw, 50px);
    margin-bottom: 30px;
    padding-left: 40px;
  }
  
  .root::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    min-width: 30px;
    height: 100%;
    max-height: 60px;
    background-color: var(--accent-color);
  } 