.imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.img {
  display: block;
  margin-bottom: clamp(20px, 3dvw, 50px);
  width: 100%;
  max-width: 100%;
}

.img3 {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: clamp(20px, 3dvw, 50px);
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .list {
    flex-direction: column;
  }
}
