.root {
  padding: 10px 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(20px, 2.2dvw, 40px);
  line-height: 150%;
  color: #fff;
  background-color: #161616;
  max-width: 85%;
  margin-bottom: clamp(20px, 2.2dvw, 40px);


}

@media screen and (max-width: 768px) {
  .root {
    max-width: unset;
  }
}
