
.container {
    background-color: #000;
    background: url(/images/hero_background.webp);
    max-width: 100%;
    padding: clamp(40px,1.3dvw,80px);
  }
  
  .title {
    display: block;
    position: relative;
    font-family: var(--third-family);
    font-weight: 900;
    margin-bottom: 15px;
  }

  .title::after {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 10px;
    height: 80px;
    background-color: var(--accent-color);
  }
  
  .text {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    font-family: var(--font-family);
    font-weight: 100;
    max-width: 920px;
    color: #fff;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 auto;
  }
  .content {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }