.button {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
  padding: 18px 25px 18px 20px;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 18px;
  line-height: 130%;
}

.button.active {
  box-shadow: inset 2px 2px 12px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.1);
}

@media (hover: hover) {
  .button:hover {
    box-shadow: inset 2px 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.1);
  }
}
.button:focus-visible {
  background-color: rgba(255, 255, 255, 0.2);
}
.button:active {
  background-color: rgba(255, 255, 255, 0.6);
}

.array {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
