.root {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.button__wrapper {
  max-width: 460px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


