@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background-color: #0e0e0e;
  --background-loyout: rgba(22, 22, 22, 0.8);
  --text-primary: #fff;
  --text-secondery: #cacaca;
  --text-third: #1e1e1e;
  --accent-color: #ffde00;
  --accent-color-rgb: 255 222 0;
  --social-color: #505050;
  --font-family: "Roboto", sans-serif;
  --second-family: "Babes Neue Bold", sans-serif;
  --third-family: "Inter", sans-serif;
  --border-radius: 10px;
}

@font-face {
  font-family: "Babes Neue Bold";
  src: url("/fonts/BebasNeueBold.woff2") format("woff2"),
    url("/fonts/BebasNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-primary);
  font-style: normal;
  background: var(--background-color);
}

a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

a:focus,
a:focus-visible,
a:active,
button:focus,
button:focus-visible,
button:active {
  outline: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
}

footer {
  margin-top: auto;
}

.stop__scroll {
  overflow: hidden;
}

.accent {
  color: var(--accent-color);
}



[inert] {
  pointer-events: none;
  cursor: default;
}

[inert], [inert] * {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}