.text1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(200px, 17dvw, 300px);
  -webkit-text-stroke: 1px #353535;
  color: transparent;
}

.text2 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(200px, 17dvw, 300px);
  -webkit-text-stroke: 1px #353535;
  color: transparent;
  font-size-adjust: ch-width 0.33
}
