
.wrapper {
	color: #FFDE00;
	position: relative;
}



.button {
  border: none;
  display: flex;
  padding-left: 3px;
  background: none;
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 3;
}

.text {
  position: absolute;
  z-index: 3;
  top: -3px;
  left: 25px;
  width: max-content;
  max-width: 400px;
  padding: 10px 10px 18px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #cacaca;
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.25);
  background: #161616;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left top;
}

@media (hover:hover) {
  .button:focus + .text,
  .button:hover + .text {
    transform: scale(1);
  }
}
