.root {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(-10px);
  margin: 0 auto;

  max-width: 540px;
  z-index: 4;

  /* border: 1px solid; */
  /* border-image-slice: 1; */
  /* border-image-source: linear-gradient(
    90deg,
    #f4a21a 0%,
    #ffde00 50%,
    #f4a21a 100%
  ); */
}
.root::after {
  position: absolute;
  content: "";
  background-color: red;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  z-index: -1;
  border-radius: var(--border-radius);
  background: linear-gradient(90deg, #f4a21a 0%, #ffde00 50%, #f4a21a 100%);
}

.cookie__wrapper {
  display: flex;
  align-items: center;
  background: #1e1e1e;
  padding: 10px;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: clamp(12px, 2dvw, 16px);
  line-height: 130%;
  color: var(--text-primary);
  z-index: 1;
  border-radius: var(--border-radius);
}

.btn__wrapper {
  width: 80px;
  min-width: 80px;
}

.btn__wrapper .button {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (max-width: 1024px) {
  .root {
    transform: translateY(-90px);
  }

  .cookie__wrapper {
    font-size: clamp(12px, 2dvw, 14px);
  }
}

@media screen and (max-width: 576px) {
  .root {
    margin-left: 10px;
    margin-right: 10px;
  }
}
