.root {
  position: fixed;
right: 0;
  left: 0;
  bottom: 0;
  /* transform: translate(10px, -10px); */
  transform: translateY( -10px);
  margin: 0 auto;

  padding: 10px;
  max-width: 540px;
  z-index: 5;
  background: #1e1e1e;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    #f4a21a 0%,
    #ffde00 50%,
    #f4a21a 100%
  );
}

.cookie__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: clamp(12px, 2dvw, 16px);
  line-height: 130%;
  color: var(--text-primary);
  z-index: 1;
}

.btn__wrapper {
  width: 80px;
  min-width: 80px;
}

.btn__wrapper .button {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (max-width: 1024px) {
  .root {
    border-radius: var(--border-radius);
    right: 0;
    transform: translateY(-90px);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: inset 2px 2px 12px 0 rgba(0, 0, 0, 0.1);
    background: var(--background-loyout);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .cookie__wrapper {
    font-size: clamp(12px, 2dvw, 14px);
  }
}

@media screen and (max-width: 576px) {
  .root {
    margin-left: 10px;
    margin-right: 10px;
  }
}
