.root {
  position: fixed;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  bottom: 0;
  background-color: var(--background-loyout);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  color: #fff;

  z-index: 4;
}

.cookie__wrapper {
  display: flex;
  gap: 15px;
}

.cookie__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: clamp(14px, 1.35dvw, 20px);
  line-height: 120%;
  color: var(--text-secondery);
  padding-right: 40px;
}

.cookie__link {
  display: inline-block;
  border-bottom: 1px solid #fff;
  transition: transform 0.3s ease-in-out;
}
.btn__wrapper {
  max-width: 300px;
  width: 100%;
}

@media (hover: hover) {
  .cookie__link:hover {
    transform: scale(1.01);
  }
}

@media screen and (max-width: 1024px) {
  .root {
    padding-bottom: 90px;
  }
  .cookie__wrapper {
    flex-direction: column;
  }
  .btn__wrapper {
    margin-left: auto;
  }
}
@media screen and (max-width: 768px) {
  .btn__wrapper {
    max-width: 100%;
  }
}
