.card_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  padding: 15px 0 13px 0;
  font-size: clamp(18px, 3dvw, 34px);
  background-color: #161616;
  width: 100%;
  padding-left: 15px;
}

.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.after {
  background-color: var(--accent-color);
  width: 86px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 700;
  color: #000;
  font-size: 40px;
}

.text {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: clamp(14px, 2dvw, 24px);
}


