.item {
  display: flex;
  flex-direction: column;
  transform-origin: top;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.img {
  margin-bottom: 30px;
  max-width: 100%;

}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(18px, 2dvw, 30px);
  line-height: 100%;
  color: #fff;
  margin-bottom: 10px;
}

.descr {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: clamp(14px, 1.3dvw, 20px);
  line-height: 120%;
  color: #fff;
  margin-bottom: 10px;
}

.bot__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.link {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: clamp(16px, 1.3dvw, 20px);
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #ffde00;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
}

.link:focus-visible {
	transform: scale(1.08);
}

@media (hover: hover) {
  .link:hover {
		transform: scale(1.15);
  }
}

.date {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 14px;
  text-align: right;
  color: #ffde00;
}
