.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  cursor: pointer;
  position: relative;
  background-color: #161616;
  padding: 30px 20px 20px 20px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: clamp(18px, 2dvw, 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.icon {
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
  min-width: 30px;
}

.icon.open {
  transform: rotate(0);
}

.title span {
  max-width: 515px;
}

.descr {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: clamp(14px, 1.45dvw, 16px);
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease-in-out;
	opacity: 0.7;
}
.descr.open {
  grid-template-rows: 1fr;
}

.descr p {
  min-height: 0;
	padding-right: 50px;
	transition: padding .4s ease-in-out;
}

.descr.open  p{
 	padding-top: 1%;
}

@media screen and (max-width: 768px) {
  .item {
    cursor: pointer;
    position: relative;
    background-color: #161616;
    padding: 30px 10px;
  }
}
