.WhyUs__title {
  color: #ffffff;
}

.title {
  position: relative;
  font-family: var(--second-family);
font-weight: 700;
padding: 15px 0 13px 0;
font-size: 34px;
background-color: #161616;
z-index: 1;
width: 100%;
padding-left: 15px;

}

.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.after {
  z-index: 100;
  background-color: #FFDE00;
  width: 86px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--second-family);
font-weight: 700;
color: #000;
font-size: 40px;
}



.card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
  gap: 100px;
  margin-bottom: 100px;
}

.text {
  font-family: var(--font-family);
font-weight: 200;
font-size: 24px;
}

@media screen  and (max-width:780px) {
	.card_container {
		grid-template-columns: 1fr;
    padding: 5px;
	}

}