.howWorks__title {
  color: #ffffff;
}

.card_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
	gap: 20px; /* Space between grid items */
	width: 100%;
}

.card {
  background: #161616;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}



.card_text {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: clamp(16px,1dvw,22px);
}
.card_title {
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 24px;
  line-height: 115%;
  margin-bottom: 6px;
  color: #989898;
}

.highlightedText {
	color: #FFDE00;
}


@media screen  and (max-width:780px) {
	.card_container {

		grid-template-columns: 1fr;
    padding: 5px;
	}
  .card {
    padding: 20px 5px;
  }
}