.root {
  display: grid;
  grid-template-columns:  1fr;
  gap: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.button__wrapper{
  width: 100%;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .root {
    grid-template-columns: 1fr;
  }
}