.text_main {
  font-family: var(--font-family);
  font-weight: 100;
  font-size: clamp(20px, 2dvw, 34px);
  line-height: 130%;
  margin-bottom: 50px;
  color: #fff;
}

.content_bottom {
  display: flex;
}
.content_main {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.img {
  z-index: 2;

  max-height: 420px; 
  width:clamp(400px, 50dvw, 820px);
  margin-right: -10%;
}

.text {
  display: flex;
  position: relative;

  padding: clamp(20px, 3dvw, 50px) clamp(10px, 3dvw, 20px)
    clamp(20px, 3dvw, 50px) clamp(35px, 12.5dvw, 180px);
  font-family: var(--font-family);

  font-weight: 100;
  font-size: clamp(20px, 2dvw, 34px);
  line-height: 130%;
  color: #fff;
  background: #1e1e1e;
  z-index: 1;
}

.logo {
  max-width: clamp(266px, 20dvw, 366px);
  max-height: clamp(266px, 20dvw, 366px);
}



@media screen and (max-width: 768px) {
  .content_main {
    flex-direction: column;
  }

  .img {
    width: 100%;
    margin-right: 0;
  }

  .text {
    padding: 20px 10px;
  }

  .content_bottom {
    flex-direction: column;
    align-items: center;
  }
  
}