.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

}

.img {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.img__wrapper {
  position: relative;

}

.img__wrapper::after {
  content: "";
  position: absolute;
  height: 20px;
  width: calc(100% - 10px - 30px);
  margin-left: 10px;
  bottom: -15px;
  left: 0;
  background-color: var(--accent-color);
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(18px, 2.2dvw, 40px);
  line-height: 100%;
  color: #fff;
  margin-bottom: -10px;
}

.text {
  margin-bottom: auto;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: clamp(16px, 1.3dvw, 24px);
  line-height: 108%;
  color: #cacaca;
}

.link {
  margin-top: auto;
}


@media screen and (max-width: 768px) {
  .img__wrapper::after {
    display: none;
  }

  .list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 480px;
  }

}