.menu_bottom {
  padding-left: calc(var(--svg-width) + var(--gap));
  display: flex;
  justify-content: space-between;
  gap: 10px;
	margin-top: auto;
}

.social__btns {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.work__schedule {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 14px;
  line-height: 130%;
  text-align: right;
  color: #a7a7a7;
}

.phone {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 576px) {


  .menu_bottom {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }


  .social__btns {
    order: 1;
  }
}
