.overflow {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.title__wrapper {
  position: relative;
  padding-top: 14px;
  padding-bottom: clamp(40px, 6.7dvw, 135px);
  color: var(--text-primary);
  min-height: 100%;
  margin-top: 10px;
}


.title__left {
  padding-left: 50px;
}

.title__right {
  padding-right: 50px;
}

.pl {
  padding-left: 50px;
}

.pr {
  padding-right: 50px;
}

.title {
  display: block;
  font-family: var(--third-family);
  font-weight: 900;
  font-size: clamp(24px, 3.5dvw, 60px);
  line-height: 133%;
  z-index: 2;
  text-align: left;
  width: 100%;
  
}

.title__right,
.title__wrapper {
  text-align: right;
  order: 1;
}

.title__left::before,
.title__right::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 100dvw;

  height: 2px;
  background-color: #353535;
  z-index: 1;
}

.title__left::before {
  left: 16.5px;
}

.title__right::before {
  right: 16.5px;
}

.icon {
  color: #353535;
  position: absolute;
  top: -8px;
  z-index: 2;
}

.icon__left {
  left: 0;
}

.icon__right {
  right: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.descr {
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 20px;
  font-size: clamp(14px, 2dvw, 20px);
  line-height: 130%;
  text-align: right;
  z-index: 1;
  padding-top: 16px;
}

.descr__sideway {
  max-width: 700px;
}

.descr__bottom {
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 20px;
  font-size: clamp(14px, 2dvw, 20px);
  line-height: 130%;
  text-align: right;
  z-index: 1;
  padding-top: 6px;
}

.align__left {
  text-align: left;
}
.background__text {
  position: absolute;
  top: -20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(200px, 17dvw, 240px);
  line-height: 108%;
  -webkit-text-stroke: 1px #353535;
  color: transparent;
  z-index: -1;
  opacity: 0.5;
}

.background__text.left {
  left: 0;
}
.background__text.right {
  right: 0;
}
.background__text.bg__less__visibility {
  opacity: 0.15;
}

@media screen and (max-width: 1024px) {
.grid {
  grid-template-columns: 1fr;
}

  .title__right {
    order: unset;
    text-align: left;
  }
  .icon__left {
    left: unset;
    right: 0;
  }

  .icon {
    transform: rotate(90deg);
    top: -66px;
    right: 45px;
  }

  .icon path:nth-child(3) {
    width: 30px;
    transform-origin: 17px 54px;
    transform: scale(0.9) rotate(-90deg);
  }

  .title__right::before,
  .title__left::before {
    left: unset;
    right: calc(10px + 110px);
    width: calc(100dvw - (10px * 2 + 110px));
  }

  .descr {
    width: 100%;
    padding-top: 0;
    text-align: left;
  }
  .title__wrapper {
    margin-top: 30px;
    flex-direction: column;
    gap: 0;
  }

  .title__left {
    padding-left: 0;
  }

  .title__right {
    padding-right: 0;
  }

  .pl {
    padding-left: 0;
  }
  
  .pr {
    padding-right: 0;
  }

  .background__text {
    display: none;
  }
}
