.root {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: clamp(14px, 2dvw, 30px);
  line-height: 120%;
}

.root img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
}
