.ourclients.inner {
  padding-top: clamp(60px, 7dvw, 100px);
  padding-bottom: clamp(60px, 7dvw, 100px);
	margin-top: clamp(25px, 3dvw, 50px);
	margin-bottom: clamp(25px, 3dvw, 50px);
  background: url(/images/ourclients-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr)) ;
}

.descr {
	padding-top: 20px;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: clamp(16px, 2dvw, 24px);
  text-align: center;
  color: #fff;
}

.image {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
	width: 100%;
	max-height: 180px;
}

@media screen and (max-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: repeat(2,1fr) ;
	}
	
}
@media (hover: hover) {
  .image:hover {
    opacity: 1;
  }
}
