.reviwes__section {
  background-color: #f5f6f8;
  color: var(--text-third);
  padding-top: 100px;
  padding-bottom: 100px;
	position: relative;
}

.reviwes__title {
  color: var(--text-third);
}



@media screen and (max-width: 1024px) {
	.reviwes__section {
		padding-top: 30px;
		padding-bottom: 60px;
	}
}