.item {
  display: flex;
  flex-direction: column;
  transform-origin: top;
  height: 100%;
  animation: fadeIn 0.4s ease-in-out;
  position: relative;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.img {
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(18px, 2dvw, 30px);
  line-height: 100%;
  color: #fff;
  margin-bottom: 10px;
}

.descr {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: clamp(14px, 1.3dvw, 20px);
  line-height: 120%;
  color: #fff;
  margin-bottom: 10px;
}

.bot__wrapper {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: static;
}

.link {
  display: block;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: clamp(16px, 1.3dvw, 20px);
  line-height: 120%;
  color: #ffde00;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.link::after {
  content: "";
  position: absolute;
  inset: 0;
}

.link__text {
  position: relative;
}

.link__text::after {
  content: "";
  position: absolute;
  background-color: #ffde00;
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0;
  transition: transform 0.4s ease-in-out;
  transform: scale(0);
  transform-origin: left;
}



@media (hover: hover) {

  .link:focus-visible .link__text::after {
    transform: scale(0.6);
  }
  .link:hover .link__text::after {
    transform: scale(0.8);
  }
}

.date {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 14px;
  text-align: right;
  color: #ffde00;
}
